<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About- REAL-TIME BONE FRACTURE DETECTION WITH YOLO-V8 USING X-RAY IMAGES</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">
</head>

<body class="about-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <h1 class="sitename">REAL-TIME BONE FRACTURE DETECTION WITH YOLO-V8 USING X-RAY IMAGES</h1> <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/detect">Detect</a></li>
          <li><a href="/result">Result</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(../static/assets/img/xray.jpg);">
      <div class="container position-relative">
        <h1>About</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">About</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="../static/assets/img/6b7c632f-53fa-4323-8228-87d4b50b0949.jpg"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">REAL-TIME BONE FRACTURE DETECTION WITH YOLO-V8 USING X-RAY IMAGES</h1> <span>.</span>
            </a></h2>
            <div class="our-story">
              <h3>Our Story</h3>
              <p>Real-time bone fracture detection using YOLOv8 and X-ray images enables rapid and accurate diagnosis. Trained on a large dataset, YOLOv8 detects and highlights potential fractures, revolutionizing orthopedic care.</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Emergency Care</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Orthopedic Diagnostics</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Sports Medicine</span></li>
              </ul>
              <p> The main objective of real-time bone fracture detection with YOLOv8 using X-ray images is to rapidly and accurately diagnose bone fractures, enabling timely and effective treatment..</p>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox stretched-link">Watch Video</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /About Section -->
    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="../static/assets/img/07de4fdb-ee84-4fd7-a3bf-37edce63f6eb.jpg" alt=""></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>REAL-TIME BONE FRACTURE DETECTION WITH YOLO-V8 USING X-RAY IMAGES</h3>
            <p>The main objective of real-time bone fracture detection with YOLOv8 using X-ray images is to rapidly and accurately diagnose bone fractures, enabling timely and effective treatment.</p>
            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link"> Emergency Care</a></h4>
                <p> Rapid diagnosis of bone fractures in emergency situations, enabling timely treatment and improving patient outcomes.
                </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Orthopedic Diagnostics</a></h4>
                <p> Accurate detection of fractures, dislocations, and other orthopedic conditions, facilitating informed treatment decisions.
                </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Sports Medicine</a></h4>
                <p>  Quick identification of fractures and other injuries in athletes, enabling prompt treatment and minimizing downtime.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link"> Telemedicine</a></h4>
                <p> Remote diagnosis and monitoring of patients with suspected bone fractures, expanding access to specialized care, especially in rural or underserved areas. </p>
              </div>
            </div><!-- End Icon Box -->
          </div>
        </div>
      </div>
    </section><!-- /Alt Services Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
      </div><!-- End Section Title -->
      <div class="container">
        <div class="row gy-5">
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class ="member-img">
              <img src="../static/assets/img/g1.jpg" class="img-fluid" alt="">
              <div class ="social"></div>
            <a href="#" ><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class = "bi bi-facebook"></i></a>
            <a href="#"><i class = "bi bi-instagram"></i></a>
            <a href="#"><i class = "bi bi-linkedin"></i></a>
            </div>
            <div class="member-info text-center">
              <h4>VAR̥ALAXMI SADULA</h4>
              <span>Team Lead</span>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class ="member-img">
              <img src="../static/assets/img/sreyas.jpg" class="img-fluid" alt="">
              <div class ="social"></div>
            <a href="#" ><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class = "bi bi-facebook"></i></a>
            <a href="#"><i class = "bi bi-instagram"></i></a>
            <a href="#"><i class = "bi bi-linkedin"></i></a>
            </div>
            <div class="member-info text-center">
              <h4>BHUKYA SREYAS NATH RATHOD</h4>
              <span>Team Member</span>
              </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class ="member-img">
              <img src="../static/assets/img/g2.jpg" class="img-fluid" alt="">
              <div class ="social"></div>
            <a href="#" ><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class = "bi bi-facebook"></i></a>
            <a href="#"><i class = "bi bi-instagram"></i></a>
            <a href="#"><i class = "bi bi-linkedin"></i></a>
            </div>
            <div class="member-info text-center">
              <h4>RACHANA BASANI</h4>
              <span>Team Member</span>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class ="member-img">
              <img src="../static/assets/img/kursheedd.jpg" class="img-fluid" alt="">
              <div class ="social"></div>
            <a href="#" ><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class = "bi bi-facebook"></i></a>
            <a href="#"><i class = "bi bi-instagram"></i></a>
            <a href="#"><i class = "bi bi-linkedin"></i></a>
            </div>
            <div class="member-info text-center">
              <h4>MOHAMMAD KHURSHEED</h4>
              <span>Team Member</span>
            </div>
          </div><!-- End Team Member -->
        </div>
      </div>
    </section><!-- /Team Section -->
  </main>
  <footer id="footer" class="footer position-relative dark-background">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">REAL-TIME BONE FRACTURE DETECTION WITH YOLO-V8 USING X-RAY IMAGES</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Vaagdevi Engineering College</p>
            <p>Bollikunta,Warangal</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+91 8106114756</span></p>
            <p><strong>Email:</strong> <span>varalaxmisadula58@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Detect</a></li>
            <li><a href="#">Result</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">REAL-TIME BONE FRACTURE DETECTION WITH YOLO-V8 USING X-RAY IMAGES</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="varalaxmisadula58@gmail.com">Our Team Members</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>